@import "vars";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-weight: 400;
  background-color: $body-bg;
}

.header-nav {
  color: $body-bg;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  li {
    margin: 0px 25px;
  }
  a {
    text-decoration: none;
    color: $white;
    transition: 0.3s;
    font-size: 16px;
  }
}

.cta-button {
  background-color: #018abe;
  display: block;
  color: $white;
  text-align: center;
  transition: 0.3s;
  border-radius: 3px;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
}
